*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.setup-list{
    list-style: disc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 32px;
}

body{
    background-image: url(./assets/background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header{
    /*text-align: center; usaria somente com elementos que tem propriedade de texto. 
    div nao tem propriedades de texto*/
    padding-top: 32px;
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #8129f5 0%, rgb(0, 183, 255) 50.52%, #43E7AD 100%);
    border-radius: 50%;
    padding: 4px;
    display: flex;
    transition: transform 0.5s;
}

header div img{
    width: 100%;
    border-radius: 50%;
}

header div:hover{
    transform: scale(1.1);
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto; /*primeiro valor relativo a top e bottom*/
    display: flex; /*poderia ter usado o display: grid*/
    flex-direction: column;
    gap: 24px;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #8129f5 0%, rgb(0, 183, 255) 50.52%, #43E7AD 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section h2{
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #a1a1aa;
}

section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section li{
    transition: all 0.5s;
}
section li:hover{
    transform: scale(1.1);
    filter: drop-shadow(6px 3px 3px rgba(0,0,0,.5));
}

.setup-list li{
    transition: none;
}

.setup-list li:hover{
    transform: none;
    filter: none;
}

.game-list img{
    border-radius: 8px;
    width: 90px;
}

.streamers-list img{
    border-radius: 50%;
    width: 70px;
}

section div{
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}